
<img style="padding-top: 30px;" *ngFor="let image of carImages" class="col-md-12" src="https://localhost:5001/Uploads/Images/{{image.imagePath}}" alt="">

<div style="padding-top: 25px; padding-bottom: 25px;">
<div  class="card">
    <h5 class="card-header">{{car?.brandName}}</h5>
    <div class="card-body">
      <h5 class="card-title">{{car?.name}}</h5>
      <p class="card-text">{{car?.descriptions}}</p>
      <a href="#" class="btn btn-primary">{{car.dailyPrice}} TL'ye Kirala</a>
    </div>
  </div>
</div>